@import "normalize.scss";
@import "foundation.scss";
@import 'bourbon';
@import "cw-custom.scss"; // This is where we can put custom mixins and classes
@import "gravityforms";
@import "wordpress";
@import "bxslider";
@import "cw-accordion";

// variables
$linkColor: #f68b1f;
$linkHover: lighten($linkColor, 10%);
$fontColor: #000;

html, body {

	margin: 0;
	padding: 0;
	background:#282828;

}

body {
	&.admin-bar {
		padding-top: 46px;
	}


}

pre {
	position: relative;
	padding: 24px;
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
	border: solid 1px #666;
	background-color: #fff;
	@include border-radius(20px);
	margin: 15px;

	.close-pre {
		display: block;
		position: absolute;
		top: 15px;
		right: 15px;
		width: 20px;
		height: 20px;
		border: solid 1px #666;
		@include border-radius(20px);
		cursor: pointer;

		&:before,
		&:after {
			position: absolute;
			display: block;
			content: '';
			background-color: #666;
			width: 13px;
			height: 2px;
			top: 50%;
			left: 50%;
			@include transform-origin(center center);
			@include transition(.5s);
		}

		&:before {
			@include transform(translateY(-50%) translateX(-50%) rotate(0deg));
		}

		&:after {
			@include transform(translateY(-50%) translateX(-50%) rotate(0deg));
		}

		&.open {
			&:before {
				@include transform(translateY(-50%) translateX(-50%) rotate(90deg));
			}
			&:after {
				@include transform(translateY(-50%) translateX(-50%) rotate(180deg));
			}
		}
	}
}

//typography
.smoothfont {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Open Sans', sans-serif;

	&.page-title {
		font-family: 'Open Sans', sans-serif;

	}
}

h1 {
	font-size: 3.75em;
}

h2 {
	font-size: 3em;
}
h3 {
	font-size: 2.25em;
	font-weight:800;
}
h4 {
	font-size: 1.875em;
}
h5 {
	font-size: 1.5em;
	font-weight:800;
}
h6 {
	font-size: 1.125em;
}

p, li  {
	font-size: .875em;
	color: $fontColor;
	font-family: 'Open Sans', sans-serif;
}

p:last-child {
	margin-bottom: 0;
}

ul {
	&.styleless {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
}

a {
	color: $linkColor;
	@include transition(.25s);

	&:hover {
		color: $linkHover;
		@include transition(.25s);
	}
}

input[type="text"],
input[type="email"],
input[type="submit"],
select,
textarea {
	border: 0;
	outline: none!important;
	padding: 10px!important;
	margin: 0!important;
}

input[type="submit"] {

}

input[type="text"],
input[type="email"],
textarea {

}

input[type="text"],
input[type="email"] {

}

textarea {

}
//general css stuff
.center{
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}

.f_left{ float:left}
.f_right{ float:right}

.w_txt{
	color:white;
}
.o_txt{
	color:#ec9004;
}

//gravity forms
input[type="text"], input[type="email"], input[type="submit"], select, textarea {
  border: 1px solid #bbb;
}
.gform_wrapper .top_label textarea.textarea {
  border: 1px solid #bbb;
}

//button styles
input[type="submit"], select, textarea {
  border: 0px;
  width:100%;
}
button, .button {
	background-color: #ff9b00;
	//border-color: #006666;
	color: #FFF;
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	//border-radius:0.7em;
	//border: 1px solid #cc76cc;
}

.button:hover {
	//background:#6385b4;
	//opacity:0.7;
	//filter:alpha(opacity=70); /* For IE8 and earlier */
}

.slideshow_shadow{

}

.white_txt_section{
	color:white;
	p{
		color:white;
	}
	h1, h2, h3, h4, h5, h6 {
		color:white;
	}
	li{
		color:white;
	}
}

//welcome
.welcome{
	padding:50px;
	background-color:#292929;
 
}
.welcome_section{
	p{
		color:white;
	}
}

//why sell
.why_sell{
	padding:50px;
 
			background:#FFF;
}
.interests_padding{
	padding:10px;
}
.sell_number{
	background-color:#d0d0d0;
	padding:10px;
}
.sell_txt1{
	background-color:#b99c75;
	padding:10px;
}
.sell_txt2{
	background-color:#39312f;
	padding:10px;
}
.sell_txt3{
	background-color:#425d6b;
	padding:10px;
}
.sell_txt4{
	background-color:#6f7f87;
	padding:10px;
}

//why buy
.why_buy{
	padding:50px;
	background-color:#292929;
 
}
//offer
.offer{
	border:2px solid #ff9b00;
	background: url(/wp-content/themes/cw/img/ThinkstockPhotos.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
 
}
.offer_inner{
	border-right:2px solid #f98a00;
	padding:30px;
	//min-height:360px;
}
.offer_inner1{
	// border:1px solid #f98a00;
	padding:30px;
}

//find us
.find_us{
	padding:50px;
	background-color:white;
 
}
.findus_title{
	background-color:#ff9b00;
	padding:10px;
 
}

//footer 
.footer_section{
	//background-color:#292929;
}
.banner_bg{
	background-color:#f68b1f;
 
}
// header and nav
.site_logo{
	max-width:420px;
}

.phone_number{
	display:none;
}
[role=banner] {
	

	// foundation nav structure
	.contain-to-grid {
		//background-color:#f98a00;
		[role="navigation"] {
			.title-area {
			}
			.top-bar-section {
				.menu {
					.menu-item {
						&.menu-item-type-custom {
							& > a {
							}
						}
						&.current-menu-item,
						&.current-menu-parent,
						&.active {
							& > a {
							}
						}
						a {
							&:hover {
							}
						}
						.sub-menu {
							.menu-item {
								&.menu-item-type-custom {
									a {
									}
								}
								a {
									&:hover {
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
header{
  display: block;
  background: #F68B1F;
}
.menu_pad{
	padding:0px;
}
.top-bar-section ul li > a {
  font-family: 'Open Sans', sans-serif;

}
.top-bar {
  background:#f68b1f;
  padding:30px;
}

.top-bar-section ul {
  width: 100%;
  height: auto;
  display: block;
  font-size: 16px;
  margin: 0;

}

.top-bar-section li:not(.has-form) a:not(.button) {
  padding: 0 15px;
  line-height: 45px;
  background: #f68b1f;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
  background: #FFF;
  color:#292929;
}

.top-bar .title-area {
  background: transparent;
}
.top-bar.expanded .title-area {
  background: #333;
}

@media all and (min-width: 1001px) {
	.top-bar-section ul li > a {
	  font-size: 1rem;
	}

}

@media all and (max-width: 941px) {

	.top-bar-section li:not(.has-form) a:not(.button) {
	  padding: 0 10px;
	  line-height: 45px;
	  background: #f68b1f;
	}

	.site_logo{
		max-width:400px;
	}

}
@media all and (max-width: 861px) {
	.top-bar-section li:not(.has-form) a:not(.button) {
	  padding: 0 5px;
	  line-height: 45px;
	  background: #f68b1f;
	}
	
	.site_logo{
		max-width:350px;
	}
}

@media all and (max-width: 781px) {
	.top-bar-section ul li > a {
	  padding: 12px 0 12px 0;
	  padding-left: 15px;
	  font-size: 0.6rem;
	}

	.site_logo{
		max-width:300px;
	}
}

@media all and (max-width: 640px) {
	.top-bar {
	  background:#f68b1f;
	  padding:0px;
	}

	.top-bar-section ul li > a {
	  padding: 12px 0 12px 0;
	  padding-left: 15px;
	  font-size: 1rem;
	}
	
	.offer_inner{
		border-right:0px solid #f98a00;
		border-bottom:2px solid #f98a00;
	}
	.phone_number{
		display:inline;
	}
	
}

// main content
[role="main"] {
	.home & {
	}
}

// sidebar
[role="complementary"] {

}

// footer
[role="contentinfo"] {
	background-color:#292929;
	padding-top:50px;
	color:white;
 
}

//bx slider
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
  background-color: #f68b1f;
}


// misc stuff, specific stuff, global stuff
.logo {
	padding:10px;
	a {
		display: inline-block;
	}
}

.cw {
	display: block;
	width: 100%;
	height: 30px;
	background: right center no-repeat url(/wp-content/themes/cw/img/cw-dark.png);
	text-indent: -9999px;
	margin-bottom:15px;
}

.gf_captcha {
	display: none;
}

.cf:before,
.cf:after {
content: " "; /* 1 */
display: table; /* 2 */
}

.cf:after {
	clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
 .cf {
 	*zoom: 1;
 }

@media all and (min-width: 783px) {
	body {
		&.admin-bar {
			padding-top: 32px;
		}
	}
}

 // print styles
 @media print {
 	* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
 	a, a:visited { text-decoration: underline; }
 	a[href]:after { content: " (" attr(href) ")"; }
 	abbr[title]:after { content: " (" attr(title) ")"; }
 	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
 	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
 	thead { display: table-header-group; }
 	tr, img { page-break-inside: avoid; }
 	img { max-width: 100% !important; }
 	@page { margin: 0.5cm; }
 	p, h2, h3 { orphans: 3; widows: 3; }
 	h2, h3 { page-break-after: avoid; }
 }